<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      سفارش موفق
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%;" class="ion-align-items-center ion-justify-content-center ion-text-center">
      <ion-col size="8">
        <span class="icon-back">
        <ion-icon name="checkmark" class="icon"></ion-icon>
        </span>
        <br>
        <ion-text class="ion-margin">
          ارسال با موفقیت انجام شد.
        </ion-text>
        <hr class="hr">
        <ion-text>
          برای دریافت و پرداخت هزینه محصولات سفارش داده شده می توانید در زمان تایین شده به بازار ماهی مراجعه کنید.
        </ion-text>
        <hr class="hr">
        <ion-text>
          جزییات سفارشات خود را می توانید از قسمت سوابق سفارشات مشاهده نمایید.
        </ion-text>
        <ion-button block color="success" type="submit" expand="block" size="large" style="margin-top: 1em">
            ذخیره
        </ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
