.hr {
    background: var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))));
    height: 1px;
    width: 80%;
}
.icon {
    font-size: 100px;
    background: #10dc60;
    color: white;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
